<div>
    <h2>
        <span jhiTranslate="techmedApp.paiement.home.title">Paiements</span>
        <button class="btn btn-primary float-right jh-create-entity create-paiement" [routerLink]="['/', { outlets: { popup: ['paiement-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="techmedApp.paiement.home.createLabel">
            Create new Paiement
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="paiements">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dateTransation"><span jhiTranslate="techmedApp.paiement.dateTransation">Date Transation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="montantTTC"><span jhiTranslate="techmedApp.paiement.montantTTC">Montant TTC</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="consultationId"><span jhiTranslate="techmedApp.paiement.consultation">Consultation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="moyenId"><span jhiTranslate="techmedApp.paiement.moyen">Moyen</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let paiement of paiements ;trackBy: trackId">
                <td><a [routerLink]="['../paiement', paiement.id ]">{{paiement.id}}</a></td>
                <td>{{paiement.dateTransation | date:'medium'}}</td>
                <td>{{paiement.montantTTC}}</td>
                <td>
                    <div *ngIf="paiement.consultationId">
                        <a [routerLink]="['../consultation', paiement.consultationId  ]" >{{paiement.consultationId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="paiement.moyenId">
                        <a [routerLink]="['../moyen-paiement', paiement.moyenId  ]" >{{paiement.moyenId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../paiement', paiement.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'paiement/'+ paiement.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="paiements && paiements.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [maxSize]="5" [pageSize]="itemsPerPage" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
